<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/src/output.css" rel="stylesheet">
    <title>Log-in</title>
</head>
<body>
    <main class="flex justify-center items-center h-screen bg-slate-500">
        <div>
            <form action="" method="post" >
                <p>Username:</p>
                <input type="text" name="username">
                <p>Password:</p>
                <input type="text" name="password">
            </form>
        </div>
    </main>
</body>
</html>